body {
    font-size:  22px;
    align-self: center;
    min-height: 80vh ;
}  
   
main {
    min-height: 10vh ;
}
header {
    min-height: auto ;
   
}

h2{
    color: rgb(235, 241, 235);;
    font-size:  44px;
    padding-bottom:20px;
    padding-top: 20px;
    text-align: center;
    background:rgb(215, 230, 217);
    width:100%;
    height:100px;
    position:absolute;
    bottom: 0px;;
    left: 0px;;
}
h3{
    color: rgb(0, 49, 0);
    font-size:  28px;
}
